## ASSIGNMENT - I (DAY - II) || 02nd September, 2020

#### QUESTION - 1: LISTS AND ITS DEFAULT FUNCTIONS.

#### LIST : List is a collection which is ordered and changeable. Allows duplicate members.

In [2]:
#Example of creating and printing a list
fruit_list = ['apple', 'banana', 'mango', 'kiwi', 'pineapple', 'strawberry', 'grapes', 'melon']
print(fruit_list)

['apple', 'banana', 'mango', 'kiwi', 'pineapple', 'strawberry', 'grapes', 'melon']

In [3]:
#Type funtion returns class type of an object
type(fruit_list)

list

In [4]:
#Access List Items By Referring to Index Numbers

#1.) Printing second item from a list
print(fruit_list[1])

#2.) Printing last item from a list
print(fruit_list[-1])

#3.) Range of Indexes - Specify start and end range from a list
print(fruit_list[1:6])

banana
melon
['banana', 'mango', 'kiwi', 'pineapple', 'strawberry']

##### Python List Functions & Methods

In [6]:
# 1.) sort(): The sort() method is a built-in Python method that, by default, sorts the list in ascending order.
            # However, you can modify the order from ascending to descending by specifying the sorting criteria.

fruits_price = [50, 30, 40, 120, 100, 80, 150, 20]
fruits_price.sort()
print(fruits_price)

[20, 30, 40, 50, 80, 100, 120, 150]

In [9]:
# 2.) append(): Adds a single element to a list.
              # The append() method will add certain content you enter to the end of the elements you select.
    
months = ['January', 'February', 'March', 'April', 'May']
print(months)
months.append('June')
print(months)

['January', 'February', 'March', 'April', 'May']
['January', 'February', 'March', 'April', 'May', 'June']

In [10]:
# 3.) extend(): Adds multiple elements to a list.
              # The extend() method increases the length of the list by the number of elements that are provided to the method,
              # so if you want to add multiple elements to the list, you can use this method.
        
num_list = [100, 200, 300, 400, 500, 600]
print(num_list)
num_list.extend([700, 800, 900, 1000])
print(num_list)

[100, 200, 300, 400, 500, 600]
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [11]:
# 4.) index(): Returns the first appearance of the specified value.

months = ['January', 'February', 'March', 'April', 'May']
prices = [1000, 500, 200, 600, 400]
month_index = months.index('February')
print(month_index)
    
# This method helps identify that February is located at index 1.
# Now we can access the corresponding price of February using this index.
    
print(prices[1])

1
500

In [12]:
# 5.) len(list): It gives the total length of the list.
               # The len() function shows the number of elements in a list.
        
veggies_list_1 = ['Brinjal', 'Potato', 'Capsicum', 'Okra']
veggies_list_2 = ['Carrot', 'Sweet Potato', 'Radish']
        
print('Length of Veggies List 1 is: ', len(veggies_list_1))
print('Length of Veggies List 2 is: ', len(veggies_list_2))

Length of Veggies List 1 is:  4
Length of Veggies List 2 is:  3

#### QUESTION - 3: DICTIONARY AND ITS DEFAULT FUNCTIONS.

#### DICTIONARIES : A dictionary is a collection which is unordered, changeable and indexed. In Python, dictionaries are written with curly brackets, and they have keys and values.

In [17]:
#Example of creating and printing a Dictionary
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}

In [18]:
#Type function returns class type of an object
type(my_dict)

dict

In [21]:
#Accessing Values in Dictionary
print("my_dict['Name']: ", my_dict['Name'])
print("my_dict['Qualification']: ", my_dict['Qualification'])

my_dict['Name']:  Mahima
my_dict['Qualification']:  B.Tech

In [29]:
#Updating Dictionary
my_dict['YOP'] = '2020'  #Update existing entry
my_dict['College'] = 'TIT&S College'  #Add a new entry
print("my_dict['YOP']: ", my_dict['YOP'])
print("my_dict['College']: ", my_dict['College'])
print(my_dict)

my_dict['YOP']:  2020
my_dict['College']:  TIT&S College
{'Name': 'Mahima', 'Qualification': 'B.Tech', 'College': 'TIT&S College', 'YOP': '2020'}

In [30]:
#Delete Dictionary Elements
print(my_dict)
del my_dict['YOP']  #remove entry with key 'YOP'
print(my_dict)

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'College': 'TIT&S College', 'YOP': '2020'}
{'Name': 'Mahima', 'Qualification': 'B.Tech', 'College': 'TIT&S College'}

##### Python Built-in Dictionary Functions & Methods

In [33]:
# 1.) len(): Python dictionary method len() gives the total length of the dictionary. This would be equal to the number of items in the dictionary.
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)
print("Length of my_dict is: ", len(my_dict))

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
Length of my_dict is:  3

In [34]:
# 2.) items(): Python dictionary method items() returns a list of dict's (key, value) tuple pairs.
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)
print("Value: ", my_dict.items())

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
Value:  dict_items([('Name', 'Mahima'), ('Qualification', 'B.Tech'), ('YOP', 2019)])

In [37]:
# 3.) keys(): Python dictionary method keys() returns a list of all the available keys in the dictionary.
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)
print("Value: ", my_dict.keys())

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
Value:  dict_keys(['Name', 'Qualification', 'YOP'])

In [38]:
# 4.) values(): Python dictionary method values() returns a list of all the values available in a given dictionary.
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)
print("Value: ", my_dict.values())

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
Value:  dict_values(['Mahima', 'B.Tech', 2019])

In [39]:
# 5.) copy(): Python dictionary method copy() returns a shallow copy of the dictionary.
my_dict = {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
print(my_dict)
my_dict1 = my_dict.copy()
print("New Dictionary: ", my_dict1)

{'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}
New Dictionary:  {'Name': 'Mahima', 'Qualification': 'B.Tech', 'YOP': 2019}

#### QUESTION - 4: SETS AND ITS DEFAULT FUNCTIONS.

#### SETS : A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [41]:
#Example of creating and printing a Set
fruit_set = {'Apple', 'Banana', 'Tomato', 'Grapes', 'Kiwi', 'Watermelon', 'Strawberry', 'Cherry'}
print(fruit_set)

#Note: Sets are unordered, so you cannot be sure in which order the items will appear.

{'Cherry', 'Strawberry', 'Grapes', 'Banana', 'Kiwi', 'Apple', 'Watermelon', 'Tomato'}

In [42]:
#Access Items
#You cannot access items in a set by referring to an index, since sets are unordered the items has no index.
#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
fruit_set = {'Apple', 'Banana', 'Tomato', 'Grapes', 'Kiwi', 'Watermelon', 'Strawberry', 'Cherry'}
for x in fruit_set:
  print(x)

Cherry
Strawberry
Grapes
Banana
Kiwi
Apple
Watermelon
Tomato

In [45]:
#Check if "Banana" and "Potato" are present in the set
print("Banana" in fruit_set)
print("Potato" in fruit_set)

True
False

In [47]:
#Change Items
#Once a set is created, you cannot change its items, but you can add new items.

#Add Items
#To add one item to a set use the add() method.
fruit_set = {'Apple', 'Banana', 'Tomato', 'Grapes'}
print(fruit_set)
fruit_set.add("Orange")
print(fruit_set)

{'Banana', 'Grapes', 'Tomato', 'Apple'}
{'Grapes', 'Banana', 'Apple', 'Orange', 'Tomato'}

In [49]:
#Update Items
#To add more than one item to a set use the update() method.
fruit_set = {'Apple', 'Banana', 'Tomato', 'Grapes'}
print(fruit_set)
fruit_set.update(['Orange', 'Mango', 'Watermelon'])
print(fruit_set)

{'Banana', 'Grapes', 'Tomato', 'Apple'}
{'Mango', 'Grapes', 'Banana', 'Apple', 'Orange', 'Watermelon', 'Tomato'}

##### Python Built-in Sets Functions & Methods

In [50]:
# 1.) union(): The union() method returns a set that contains all items from the original set, and all items from the specified sets.
             # You can specify as many sets you want, separated by commas.
             # If an item is present in more than one set, the result will contain only one appearance of this item.

fruit_set = {'Apple', 'Mango', 'Banana', 'Kiwi'}
tech_set = {'Microsoft', 'Google', 'Amazon', 'Apple'}
union_set = fruit_set.union(tech_set)
print(union_set)

{'Mango', 'Amazon', 'Banana', 'Kiwi', 'Apple', 'Microsoft', 'Google'}

In [55]:
# 2.) intersection(): The intersection() method returns a set that contains the similarity between two or more sets.
                    # The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

fruit_set = {'Apple', 'Mango', 'Banana', 'Kiwi'}
tech_set = {'Microsoft', 'Google', 'Amazon', 'Apple'}
intersection_set = fruit_set.intersection(tech_set)
print(intersection_set)

{'Apple'}

In [52]:
# 3.) add(): The add() method adds an element to the set.
           # If the element already exists, the add() method does not add the element.

fruit_set = {'Apple', 'Mango', 'Banana', 'Kiwi'}
print(fruit_set)
fruit_set.add('Apple')  # Doesn't add existing items into a Set
print(fruit_set)
fruit_set.add('Pineapple')  # Adds item when not existing in a Set
print(fruit_set)

{'Mango', 'Banana', 'Kiwi', 'Apple'}
{'Mango', 'Banana', 'Kiwi', 'Apple'}
{'Mango', 'Banana', 'Kiwi', 'Apple', 'Pineapple'}

In [54]:
# 4.) pop(): The pop() method removes a random item from the set.

fruit_set = {'Apple', 'Mango', 'Banana', 'Kiwi'}
print(fruit_set)
pop_set = fruit_set.pop()
print(pop_set)
print(fruit_set)

{'Mango', 'Banana', 'Kiwi', 'Apple'}
Mango
{'Banana', 'Kiwi', 'Apple'}

In [56]:
# 5.) difference(): The difference() method returns a set that contains the difference between two sets.
                  # The returned set contains items that exist only in the first set, and not in both sets.

fruit_set = {'Apple', 'Mango', 'Banana', 'Kiwi'}
tech_set = {'Microsoft', 'Google', 'Amazon', 'Apple'}
difference_set = fruit_set.difference(tech_set)
print(difference_set)

{'Mango', 'Kiwi', 'Banana'}

#### QUESTION - 5: STRINGS AND ITS DEFAULT METHODS.

#### STRINGS : String literals in python are surrounded by either single quotation marks, or double quotation marks. 'hello' is the same as "hello".

In [57]:
#String Literals
print("Hola Peeps!!!")
print('Hola Peeps!!!')

Hola Peeps!!!
Hola Peeps!!!

In [58]:
#Assign String to a Variable
a = "Hola Peeps!!!"
print(a)

Hola Peeps!!!

In [59]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes

a = '''I am a citizen of India.
Our country has many religions and cultures.
Almost all the festivals are celebrated in our country.
I'm proud to be a citizen of India.'''
print(a)

I am a citizen of India.
Our country has many religions and cultures.
Almost all the festivals are celebrated in our country.
I'm proud to be a citizen of India.

##### Python Built-In String Methods

In [60]:
# 1.) capitalize(): The capitalize() method returns a string where the first character is upper case.

text = 'my name is Mahima.'
x = text.capitalize()
print(x)

My name is mahima.

In [61]:
# 2.) title(): The title() method returns a string where the first character in every word is upper case. Like a header, or a title.
             # If the word contains a number or a symbol, the first letter after that will be converted to upper case.

text = "Welcome to my world!"
header = text.title()
print(header)

Welcome To My World!

In [62]:
# 3.) swapcase(): The swapcase() method returns a string where all the upper case letters are lower case and vice versa.

text = "welcome TO my WORLD!"
func_conv = text.swapcase()
print(func_conv)

WELCOME to MY world!

In [65]:
# 4.) find(): The find() method finds the first occurrence of the specified value.
            # The find() method returns -1 if the value is not found.
            # The find() method is almost the same as the index() method,
            # the only difference is that the index() method raises an exception if the value is not found.

text = "Hello, welcome to my world!"
x = text.find('e')  #Returns the 1st occurrence of the search
print(x)

y = text.find('z')  #Returns -1 if occurrence of the search is not found in the string
print(y)

1
-1

In [67]:
# 5.) endswith(): The endswith() method returns True if the string ends with the specified value, otherwise False.
'''string.endswith(value, start, end)
value     Required. The value to check if the string ends with
start     Optional. An Integer specifying at which position to start the search
end       Optional. An Integer specifying at which position to end the search'''

text = "Hello, welcome to my world!"
x = text.endswith('world!')
print(x)

y = text.endswith('welcome')
print(y)

True
False